<div ng-controller="FavoriteController" id='container'>

  <!-- Movie Listing Card -->

<div class="row">
    <div ng-repeat='movie in movies'>
        <div class="clearfix" ng-if="$index % 3 == 0"></div>
        <div class="col-md-4">
        <div class="col-md-6 col-md-offset-2">
          <div class='card'>
            <div class='card-content'>

              <td>
                  <div ng-click='setSelectedMovie()'>
                    <a href='/#/details'>
                      <img src='https://image.tmdb.org/t/p/w300/{{ movie.poster_path }}' />
                    </a>
                  </div>
                  <br>
                    <h4 class='posterDesc'>
                      <span>{{ movie.title }} </span> </h4>
                      <h4 class='posterDesc'><span>Release Date: {{ movie.release_date }}</span></h4>
                      <h4 class='posterDesc'>
                        <!-- <span ng-click='addSelectedMovie()'>Add</span> | -->
                        <span ng-click='smsSelectedMovie()'>Mobile Alert</span>
                      </h4>
                      <br>
              </td>

          </div>
        </div>
        </div>
        </div>
    </div>
</div>

</div>



