<div ng-controller="DetailsController" id='container'>


  <!-- Movie Listing Card -->
<div class="container">
  <div class="row">
    <div class="span4">
      <!--Sidebar content-->

          <a href='#/movieDetails'>
            <img src='https://image.tmdb.org/t/p/w300/{{ movie.poster_path }}' />
          </a>

      <br>
      <h4 class='posterDesc'>{{ movie.title }}
      <!-- | <span ng-click='addSelectedMovie()'>Add</span> -->
      </h4>
      <h4 class='posterDesc'>Release Date: {{ movie.release_date }}</h4>
      <h4 class='posterDesc'>
        <span ng-click='addSelectedMovie()'>Add</span> |
        <span ng-click='smsSelectedMovie()'>Mobile Alert</span>
      </h4>

    </div>
    <div class="span8">
      <!--Body content-->
      <h4 class='posterDesc'>SUMMARY:<br>{{movie.overview}}</h4>
    </div>
  </div>
</div>

</div>

